/* font family */
@font-face {
  font-family: "AveriaSerif-BoldItalic";
  src: URL("./fonts/AveriaSerif-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "AveriaSerif-Italic";
  src: URL("./fonts/AveriaSerif-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "AveriaSerif-LightItalic";
  src: URL("./fonts/AveriaSerif-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: URL("./fonts/Helvetica.ttc") format("truetype");
}

/* style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

/* Header Styles */
.top__bar {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f8d2b8;
  color: gray;
  font-family: "Helvetica-light";
  font-weight: 200;
}
.top__bar > h4 {
  font-family: "Helvetica-light";
  font-weight: 200;
  padding: 0.8rem;
}
