/* font family */
@font-face {
  font-family: "AveriaSerif-BoldItalic";
  src: URL("./fonts/AveriaSerif-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "AveriaSerif-Italic";
  src: URL("./fonts/AveriaSerif-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "AveriaSerif-LightItalic";
  src: URL("./fonts/AveriaSerif-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: URL("./fonts/Helvetica.ttc") format("truetype");
}

/* style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style-type: none;
}
/* Header Styles */
.top__bar {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f8d2b8;
  color: gray;
  font-family: "Helvetica-light";
  font-weight: 200;
}
.top__bar > h4 {
  font-family: "Helvetica-light";
  font-weight: 200;
  padding: 0.8rem;
}

/* Account Bar  */
.account__bar {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.account__items {
  display: flex;
  padding: 0.5rem 2.5rem;
  list-style-type: none;
}
.account__items > li {
  padding: 0 0.9rem;
}
.account__items li a {
  color: rgb(34, 34, 34);
  font-size: 14px;
}

/* Search bar */

.search__bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  padding: 1rem;
}
input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid lightgray;
}
button[type="submit"] {
  padding-top: 6px;
  margin-top: 8px;
  margin-right: 26px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: relative;
  top: 0;
  right: 30;
}
/* Header */
.logo__header {
  display: flex;
  justify-content: center;
}

.logo__header > img {
  object-fit: contain;
  width: 225px;
  margin-top: -45px;
}

/* Nav bar */
.nav__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.nav__items {
  display: flex;
  margin: 0 auto;
}

.nav__bar a {
  padding: 0 1rem;
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.nav__bar a:hover {
  color: #81a587;
}

.nav__items select {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.nav__items select:hover {
  color: #81a587;
}
.nav__items form select {
  border: none;
  border: 0px;
  outline: 0px;
}
